.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: 40px auto;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-color: #eee;
}
.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.mySlides.active{
    opacity: 1;
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-header {
    background-color: #1a252f;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12.5px 5%;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #f1c40f;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 20px;
    }
.navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar a:hover, .navbar a.active{
    color:#f1c40f;
}
.hero-welcome{
    text-align: center;
}
.hero-welcome h1{
    font-size: 2.3rem;
    color: #1a252f;
    margin-bottom: 8px;
}
.hero-welcome p{
    font-size: 1.1rem;
    color:#7f8c8d;
}