.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: 40px auto;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-color: #eee;
}
.mySlides {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.mySlides.active{
    opacity: 1;
}
.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}